<li><a href="{{ site.github.url }}/about" {% if page.url contains 'about' %}class="active"{% endif %}>About</a></li>
<li><a href="{{ site.github.url }}/research" {% if page.url contains 'research' %}class="active"{% endif %}>Research</a></li>
<li><a href="{{ site.github.url }}/blog" {% if page.url contains 'blog' %}class="active"{% endif %}>Blog</a></li>
<li><a href="{{ site.github.url }}/assets/pdf/resat_amin_research_cv.pdf" {% if page.url contains 'resume' %}class="active"{% endif %}>CV</a></li>
