<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="page-{{ page.layout }}">
    <main class="wrap">
      <div class="content_container">
        {% if page.profile_photo %}
        <div class="profile-photo">
          <img src="{{ site.github.url }}/{{ page.profile_photo }}" alt="Profile Photo">
        </div>
        {% endif %}
        
        {% if site.data.socials %}
        <div class="social-links">
          {% include socials.html %}
        </div>
        {% endif %}
        
        {{ content }}
      </div>
      
      <nav class="menu">
        {% include navigation.html %}
      </nav>
    </main>
  </body>
</html>
